<!DOCTYPE html>
<html>
    <head>
        <title>latexbot</title>
        <meta charset="utf-8" />
        <style type="text/css">
            body {
                font-family: Helvetica, Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h2>latexbot</h2>
        <p>Welcome to latexbot, a bot for rendering LaTeX! Please see the available functions below:</p>
        <ul>
            <li>/render/&lt;input&gt;: intended for rendering of short snippets. The input must
                be properly encoded!
                <br>
                Request arguments: "mode" defines the output format, values: image or link.</li>
        </ul>

    </body>
</html>
