<!DOCTYPE html>
<html>
    <head>
        <title>LaTeX input</title>
        <meta charset="utf-8" />
        <style type="text/css">
            body {
                font-family: Helvetica, Arial, sans-serif;
                background-color: white;
            }
            .bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h3>LaTeX input</h3>
        <p>Just enter the LaTeX input to be rendered. It will be wrapped into a
           document (<span style="font-style: italic;">\documentclass{article}</span>)
           automatically.<br>
           <span class="bold">NB!</span> The input must compile without any
           extra packages.</p>

        <form action="/input" method="post">
            <label class="bold" for="latex-input">LaTeX to render</label>
            <br>
            <textarea name="latex-input" id="latex-input" rows="15" cols="80"
                      minlength="5" required="required"></textarea>
            <br><br>
            <span class="bold">Output type</span>
            <br>
            <input name="output" id="output-image" type="radio" value="image"
                   checked="checked">
            <label for="output-image">Image</label>
            <br>
            <input name="output" id="output-link" type="radio" value="link">
            <label for="output-link">Link</label>
            <br><br>
            <button type="submit">Render</button>
        </form>
    </body>
</html>
